.page {
  height: calc(100vh - 80px);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1246px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px;
  gap: 64px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.title {
  font-family: "Playfair Display";
  font-size: 48px;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.box {
  width: 359px;
  height: 428px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #eee;
  padding: 40px 40px;
  border-radius: 40px;
}

.box:hover {
  transform: scale(1.1);
}

.boxHeading {
  font-size: 24px;
  font-weight: 600;
  color: #fd5e24;
  text-decoration: none;
}

.boxUserAvatar {
  object-fit: cover;
  border-radius: 50%;
}

.boxUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.boxUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.boxPara {
  font-size: 16px;
  font-weight: 200;
}

.boxUserName {
  font-size: 16px;
  font-weight: 600;
}

.boxUserAddress {
  font-size: 14px;
  color: #777;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0 20px;
  }

  .box {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .boxes {
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
  }

  .box {
    padding: 10px 0px;
    width: 50%;
  }

  .box > * {
    padding: 5px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    height: auto;
  }

  .container {
    height: auto;
  }

  .box {
    width: auto;
  }

  .title {
    font-weight: 400;
    font-size: 28px;
  }
}

@media screen and (min-width: 320px) {
  .box {
    width: 100%;
  }
}
