.containerMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding-left: 130px;
  padding-right: 130px;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding: 10px;
}

.need {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.underline {
  width: 60%;
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.needButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  padding: 10px 130px;
}

.needButton {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.needButton:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.filter {
  display: none;
}

.select {
  display: none;
}

@media screen and (max-width: 1024px) {
  .containerMiddle {
    padding: 10px;
  }

  .underline {
    display: none;
  }

  .need {
    font-size: 18px;
  }

  .page {
    padding: 0px;
  }

  .needButtons {
    flex-direction: column;
    gap: 10px;
  }

  .needButtons {
    display: none;
  }

  .select {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: #ddd;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    text-align: center;
    padding: 0 10px;
    transition: background-color 0.3s ease;
  }

  .filter {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Playfair Display", serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .filter:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
}
