.container {
  transition: all 1s ease-in-out;
}

.items {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
