.page {
  height: 790px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  gap: 64px;
}

.heading {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 45px;
  font-weight: 200;
}

.headButton {
  background-color: #e55b0c;
  width: 140px;
  height: 50px;
  font-size: 13px;
  border: none;
  border-radius: 30px;
  color: aliceblue;
  cursor: pointer;
}

.headButton:hover {
  transform: scale(1.1);
}

.content {
  height: calc(100% - 120px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.content > * {
  flex: 1;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.biryani {
  width: 100%;
  object-fit: cover;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.date {
  font-size: 13px;
  color: #aaa;
}

.paraHead {
  font-weight: 550;
  font-size: 20px;
  color: #342f2f;
}

.para {
  font-weight: 300;
  font-size: 14px;
  color: #aaa;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section2Top,
.section2Bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-top: -20px;
}

.section2TopPart1,
.section2TopPart2,
.section2BottomPart1,
.section2BottomPart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.section2TopPart1Image,
.section2TopPart2Image,
.section2BottomPart1Image,
.section2BottomPart2Image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.section2TopPart1Desc,
.section2TopPart2Desc,
.section2BottomPart1Desc,
.section2BottomPart2Desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section2TopPart1DescHead,
.section2TopPart2DescHead,
.section2BottomPart1DescHead,
.section2BottomPart2DescHead {
  font-weight: 500;
  font-size: 14px;
  color: #342f2f;
}

.section2TopPart1DescPara,
.section2TopPart2DescPara,
.section2BottomPart1DescPara,
.section2BottomPart2DescPara {
  font-weight: 300;
  font-size: 12px;
  color: #aaa;
}
