.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1001;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding: 10px 10px;
  height: 100px;
  color: black;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.logoName {
  font-style: italic;
  font-size: 40px;
  color: #fff;
  margin-left: 10px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  padding: 10px;
  border-radius: 18px;
  background: #d6f570de;
}

.active {
  padding: 10px;
  border-radius: 18px;
  background: #d6f570de;
}

.bookTable {
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 22px;
  background: #e55c0cf6;
  color: white;
  font-weight: bold;
}

.bookTable:hover {
  transform: scale(1.1);
}

.burgerMenu {
  display: none;
  cursor: pointer;
}

.burgerLine {
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.burgerMenu.active .burgerLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.burgerMenu.active .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navMenu.mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 200px;
  border-radius: 8px;
}

.navMenu.mobile.active {
  display: flex;
}

.navMenu.mobile .link {
  padding: 15px;
  font-size: 18px;
}

.navMenu.mobile .link:hover {
  background: #d6f570de;
}

.hideButton {
  display: none;
}

.logoLottie {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.mobileScreenRight {
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: black;
}

.sideNavLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.sideNavLink {
  color: white;
}

.sideNavLinkActive {
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #d6f570de;
}

@media screen and (max-width: 980px) {
  .logoName {
    font-size: 30px;
  }

  .bookTable {
    width: 120px;
    height: 45px;
    font-size: 12.5px;
  }
}

@media screen and (max-width: 900px) {
  .link,
  .active {
    display: none;
  }

  .mobileLeft {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
  }

  .navbar {
    padding: 0 20px;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .activeBurger .burgerLine:first-child {
    transform: rotate(45deg) translate(3px, 4px);
  }

  .activeBurger .burgerLine:nth-child(2) {
    opacity: 0;
  }

  .activeBurger .burgerLine:last-child {
    transform: rotate(-45deg) translate(3px, -4px);
  }

  @media screen and (max-width: 900px) {
    .mobileScreenRight {
      width: 250px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-color: rgba(0, 0, 0, 0.93);
      position: fixed;
      color: #fff;
      top: 95px;
      right: 0;
      z-index: 1000;
      padding: 10px;
      box-sizing: border-box;
      flex-direction: column;
      list-style: none;
      animation: fadeIn 1.5s ease-in-out;
    }

    .sideNavLinks {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
    }

    .sideNavLink:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 571px) {
  .logoName {
    font-size: 27px;
  }

  .logoLottie {
    display: none;
  }
}

@media (max-width: 480px) {
  .logoName {
    font-size: 23px;
  }

  .burgerLine {
    width: 20px;
  }

  .navbar {
    padding: 0 10px;
  }

  .bookTable {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    padding: 2px;
  }
}

@media (max-width: 320px) {
  .logoName {
    font-size: 20px;
  }
}
