/* BlogArticles Component Styles */

.blogContainer {
  padding: 20px;
  text-align: center;
}

.blogHeader h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.blogHeader p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.divider {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
}

.searchInput {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.filterLabel {
  margin-right: 10px;
  font-size: 1rem;
}

.filterSelect {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-right: 20px;
}

.articlesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.articleCard {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease;
}

.articleCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.articleInfo {
  padding: 20px;
}

.articleInfo p {
  font-size: 0.9rem;
  color: #666;
}

.articleInfo h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.articleCard:hover {
  transform: translateY(-5px);
}

.readMore {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.readMore:hover {
  background-color: #005bb5;
}

@media screen and (max-width: 1024px) {
  .navbar {
    gap: 10px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .searchInput {
    width: 100%;
  }

  .filterLabel {
    font-size: 13px;
  }

  .filterSelect {
    font-size: 13px;
  }

  .navRight {
    flex-direction: row;
  }
}

@media screen and (max-width: 320px) {
  .filterSelect {
    width: auto;
  }

  .navRight {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .articlesGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .articleCard {
    width: 315px;
  }

  .navRight1,
  .navRight2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
