.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 15px;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
  opacity: 80%;
}
